// BS import 
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Font
@font-face {
    font-family: 'Nabla';
    src: url(../../assets/fonts/Nabla.ttf);
}
.header-title {
    font-family: 'Nabla', cursive;
}

.custom-container {
    place-content: center;
}
body {
    background-image: url(/assets/BG-GENERIC.svg)
}
